<br>
<div class="jumbotron">
  <h1>Blockmarks</h1>
  <p>Blocmarks stores your bookmarks via email. Start topics. Add bookmarks. Read later.</p>
  <p>
      <%= link_to "Sign In", new_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Create</h2>
    <p>Blocmarks allows you to store all your bookmarks.</p>
  </div>
  <div class="col-md-4">
    <h2>Contribute</h2>
    <p>Blocmarks allows you to group by topic.</p>
  </div>
  <div class="col-md-4">
    <h2>Learn</h2>
    <p>Blocmarks allows you to add via email.</p>
  </div>
</div>